.footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  &__wrapper {
    @extend .wrapper;
  }

  &__heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
  }

  &__contact-list,
  &__social-media-list {
    list-style: none;
    margin-left: 0;
  }

  &__col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    @include media-query($on-palm) {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width: calc(100% - (#{$spacing-unit} / 2));
    }

    &-wrapper {
      font-size: 15px;
      color: $grey-color;
      margin-left: -$spacing-unit / 2;
      @extend %clearfix;
    }

    &-1 {
      width: -webkit-calc(35% - (#{$spacing-unit} / 2));
      width: calc(35% - (#{$spacing-unit} / 2));
    }

    &-2 {
      width: -webkit-calc(20% - (#{$spacing-unit} / 2));
      width: calc(20% - (#{$spacing-unit} / 2));
    }

    &-3 {
      width: -webkit-calc(45% - (#{$spacing-unit} / 2));
      width: calc(45% - (#{$spacing-unit} / 2));
    }

    @include media-query($on-laptop) {
      &-1,
      &-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
      }

      &-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
      }
    }
  }
}
